{% load static %}
<html lang="pt-br">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
      <title>Historiando</title>
    </head>
    <style>

      .branco { color:white;}

      .bg-nav {
        background-color: #291708
      }

      .container{
        background-color: white;
        }
        #logo {
          width: 100%;
        }
        body {
        color: #000000;
        margin-left:  auto;
        margin-right: auto;
        width: 940px;
      }
      body {
   background-image: url("http://blog.tapuz.co.il/rodefet/images/%7B50DE3EFC-8FF4-4421-9B3A-3E5D7DC0BD90%7D.jpg");
   background-color: #cccccc;
  }
      .navbar{
        color : #FACC2E;
      }
        #titulo{
          background-color: #999999;
          color: black;
        }
        #logo{
          padding-bottom: 10px;
        }
        b{
          color: black;
        }
        h2{
          border-bottom: 5px solid #000000
        }
        .bg-color{
          background-color: black;
        }

    </style>
    <body>
     


  
  <div class="container">
      <center>
  
      <img  id="logo" src="http://1.bp.blogspot.com/-9lyyWYFdS4o/WlgK9NkC_bI/AAAAAAAAT9o/kPPFEw_-KOUqGmPUdrgdyTCOTVHJ6eVGACK4BGAYYCw/s1600/12.png" alt="Logo do blog">
          
      </center>
      
      <center>
      <p><b>"Saber é poder"</b></p>
    </center>
    <br>


  
      <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
    <a class="navbar-brand" href="{% url 'post-list' %}">Principal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-7">
      <ul class="navbar-nav mr-auto">
        {% for category in categories %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category-detail' category.pk %}">{{ category.name }}</a>
        </li>
      
        {% endfor %}
      </div>
        

        
        
      </ul>
      <div class="col">
      <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
        <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button id="asd" class="btn btn-outline-light my-2 my-sm-0" type="submit">Ok</button>
      </form>
    </div>
  </div>
  </nav>
  <br>
  
  <div class="row">
    <div class="col-8">
   
  <div id="carouselExampleSlidesOnly" class="carouselslide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="http://s2.glbimg.com/Xa3q8hO-sodWtEzZX523e6FxJ4o=/e.glbimg.com/og/ed/f/original/2017/12/06/1280px-counquest_of_jeusalem_1099.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="http://bemblogado.com.br/site/wp-content/uploads/2018/11/movimento-negro.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.historiadomundo.com.br/conteudo/images/a-liberdade-guiando-povo-pintura-eugene-delacroix-5b4cd89a2aac0.jpg" class="d-block w-100" alt="...">
      </div>
  
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <br>
    </div>
    <div class="col">
        <div class="card-body">
            <a href="" class="btn btn-block bg-nav mb-3 py-3" ">
            <i class="fal fa-download fa-fw"></i > <span><div class="branco">Cadastre-se</div></span>
            </a>
            <hr>
            <a href="{% url 'login'%}" class="btn btn-block btn-outline-github"><i class="fab fa-github fa-fw"></i> Login</a>
            </div>
    </div>
  </div>

  </div>


  {% block content %}
  {% endblock %}

  
  <br>

    
  </body>
  
  
  
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
  </html>