
{% extends "blog/base.html" %}

{% block content %}

<div class="container">    
    <div class="row">
        <center>
            <p><h2>Últimas postagens:</h2></p>
            <br>
        </center>
        {% for post in object_list %}
            {% include "blog/post_card.html" %}
        {% endfor %}
    
    </div>
</div>
{% endblock %}
