{% extends "blog/base.html" %}

{% block content %}
<div class="container">
	<h3 class="my-4">{{ object.title }}</h3>
	Postado em: {{ object.created_at }} |
	Por: {{ object.author }} |
	Categoria: {{ object.category }}
	<br><img src="{{ object.banner.url }}" class="img-fluid">
	<p>{{ object.text|safe }}</p>

	{% for comment in post.comments.all %}
		<p>
			<b>{{ comment.author }}</b>
			{{ comment.text }}
			{{ comment.created_at }}
		</p>
	{% endfor %}

	<form method="POST" action="{% url 'comment' object.id %}">
		{% csrf_token %}
		<textarea name="text">
		</textarea>
		<input type="submit" value="Comentar">
	</form>
</div>
{% endblock %}
