  
      <div class="card mb-3">
      <img class="card-img-top" src="{{post.banner.url}}"alt="Imagem de capa card">
      <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body" width=1110px>
          <h5 class="card-title">{{ post }}</h5>
          <p class="card-text">{{ post.description }}</p>
          <p class="card-subtitle">Categoria: {{ post.category }}</p>
        <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary">Visitar</a>
        </div>
        <div class="card-footer text-muted">
          {{ post.created_at }}
        </div>
      </div>
      <br>
      